/* 
first written: 150622 LNR
updated:  150826 채널링수정 / 151002 업데이트배너 수정 / 151116 login_before
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, select, input, textarea ,b, hr {margin:0; padding:0; border:0; /* vertical-align:baseline*/}
body, input, textarea, select, td {font-size:13px; font-family:"나눔바른고딕",NanumBarunGothic,dotum;}
body{color:#898989;font-size:13px;line-height:17px}
h1, h2, h3, h4, h5, h6 {font-size:13px;font-weight:normal; }
a {text-decoration:none; color:#91949c}
a:hover, a:focus { text-decoration:underline;}
a:focus, input{outline:none}
em {font-style:normal; } 
ol, ul, li, dl, dd, dt {list-style: none; }
table {margin:0; outline:0; border-collapse:collapse; border-spacing:0;}
caption, th, td {font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
i,address {font-style: normal;}
button { border:none; }
button:active {border:none;}
button:hover, button:focus {cursor:pointer;}
img{vertical-align:top}
.test{border:1px solid yellow !important}
.f_left{float:left}
.f_right{float:right}
.layout_main{background:#1a202a;overflow-x:hidden }
.layout_sub{background:#151a22;overflow-x:hidden}
.scroll{scrollbar-face-color:#212632;scrollbar-highlight-color:#212632;scrollbar-3dlight-color:#212632;scrollbar-track-color:#030405;scrollbar-shadow-color: #030405;scrollbar-darkshadow-color:#212632;scrollbar-arrow-color:#fff;}
#ak_wrapper{position:relative;width:100%;min-width:1200px;margin:0 auto;background:url(../img/common/bg_wrapper.jpg) no-repeat center top}
#ak_header{width:100%;height:400px;background:url(../img/common/bg_header.jpg) no-repeat center 155px}
.header h1{position:relative;width:1080px;margin:0 auto;z-index:100}
.header h1 a{position:absolute;top:45px;left:-9px;width:179px;height:60px;background:url(../img/common/h1_logo.png) no-repeat;text-indent:-999px;overflow:hidden;z-index:1}
#ak_skip{position:absolute;width:100px;visibility: hidden;}
#ak_skip a{position:absolute;top:-35px;background:black;color:#fff;border:2px solid red;padding:5px}
#ak_skip a:focus{top:0px}
#ak_nav{position:absolute;top:0;left:0;width:100%;z-index:99;}
.nav_in{width:1080px;margin:64px auto 0 auto;_zoom:1;overflow:hidden;height:30px}
.nav_in .icon_new, em.icon_new{display:inline-block;width:16px;height:16px;border-radius:2px;background:#e5373c;color:#fff;font-family:Tahoma;font-size:11px;text-align:center;line-height:15px;font-weight:bold}
.nav_in>ul{float:right}
.nav_in>ul>li{float:left}
.nav_in ul ul{text-align:left;line-height:25px}
.nav_in a{font-family:'NanumBarunGothicBold','nbgb';}
.nav_in a:hover, .nav_in a.on, .nav_in a:focus{color:#bfc2c7}
.nav_in>ul>li>a{display:block;margin-bottom:15px;text-indent:-9999px;background:url(../img/common/bg_nav_ti.png) no-repeat;}
.nav_in .gnb_news>a{width:118px;background-position:left top}
.nav_in .gnb_info>a{width:118px;background-position:-118px top}
.nav_in .gnb_blackship>a{width:134px;background-position:-236px top}
.nav_in .gnb_community>a{width:118px;background-position:-370px top}
.nav_in .gnb_market>a{width:89px;background-position:-488px top}
.nav_in .gnb_download>a{width:119px;background-position:-577px top}
.nav_in .gnb_helpdesk>a{width:55px;background-position:-696px top}
.nav_in .icon_prepare{display:block;width:86px;height:35px;background:url(../img/common/bg_prepare.png) no-repeat left bottom;text-indent:-999px;overflow:hidden}
.nav_in .gnb_blackship .icon_prepare{margin-left:-5px}
.nav_in .gnb_market .icon_prepare{margin-left:-27px}

#ak_nav.on{background:url(../img/common/bg_nav.png) repeat-x center top;overflow:hidden}
#ak_nav.on ul ul{display:block}
#ak_nav.on .nav_in{height:30px;background:url(../img/common/bg_nav.gif) no-repeat center bottom}
.header_in{position:relative;width:1080px;padding-top:155px;margin:0 auto}
.header_in .update{position:absolute;top:199px;left:23px;display:block;width:203px;height:35px;text-indent:-999px;background:url(../img/common/btn_update2.png) no-repeat;z-index:10;display:none;font-size: 0; line-height: 0; color: 000;}
.header_in .update i { width: 50px; height: 35px; display: block; position: absolute; top: 0px; left: 0px; z-index: 7; background:url(../img/common/btn_update2.png) no-repeat 0px -35px; }
.header_in .update b { width: 50px; height: 35px; display: block; position: absolute; top: 0px; left: 0px; z-index: 8; background:url(../img/common/btn_update2.png) no-repeat -50px -35px; }
.header_in .update u { width: 35px; height: 35px; display: block; position: absolute; top: 0px; left: 0px; z-index: 9; background:url(../img/common/btn_update2.png) no-repeat -100px -35px; }
.header_in .btn_close{position:absolute;top:199px;left:23px;display:block;width:105px;height:35px;text-indent:-999px;overflow:hidden;background:url(../img/main/btn_close.png) no-repeat;z-index:10;display:none}
/* .header_in .eff_piece{position:absolute;top:102px;right:-60px;display:block;background:url(../img/common/bg_piece_0.png) no-repeat;width:116px;height:180px;z-index:20;display:none} */
.layout_main .header_in .eff_piece { width: 383px; height: 459px; display: block; position: absolute; top: 143px; right: -55px; z-index: 2; background: no-repeat url('../img/main/bg_login.png'); }
.header_in .eff_piece2{position:absolute;top:192px;left:824px;display:block;background:url(../img/common/bg_piece2_0.png) no-repeat;width:59px;height:88px;z-index:20;display:none}
.mainbanner {position:relative;width:800px; height:155px;float:left;}
.layout_main .mainbanner{width:870px;height:491px;margin-left:-87px;z-index:9}
.layout_main .mainbanner .cover{display:block;position:absolute;}
.layout_main .mainbanner .cover0{top:0;left:0;width:870px;height:118px;background:url(../img/common/bg_cover0.png) no-repeat;z-index:20}
.layout_main .mainbanner .cover1{top:118px;left:0;width:98px;height:348px;background:url(../img/common/bg_cover1.png) no-repeat;z-index:20}
.layout_main .mainbanner .cover2{bottom:-35px;left:0;width:1200px;height:129px;background:url(../img/common/bg_cover2.png) no-repeat;z-index:20}
.mainbanner .banner { position:relative; width:870px; height:491px; }
.mainbanner .banner .slides { height:470px; overflow:hidden; background: no-repeat url('../img/main/main.jpg'); }
.mainbanner .banner .slides li { position:absolute; left:0; top:0; z-index:1; }
.mainbanner .banner .slides li.on { z-index:2; }
.mainbanner .banner .slides img { width:870px; height:470px; vertical-align:top; }
/* banner update start */
.mainbanner .banner div.controls { width: 532px; height: 54px; position:absolute; left:254px; top:427px; z-index:23; background-color: #272d3b; }
.mainbanner .banner div.mask { height:30px; width:408px; position: absolute; top: 12px; left: 79px; overflow:hidden; }
.mainbanner .banner ol { position:static; width:10000px; height:30px; }
.mainbanner .banner ol li { float:left; margin-right:0; padding-right:1px; }
.mainbanner .banner ol li a { width:115px; height:30px; padding: 0px 10px; line-height:30px; background:none; text-indent:0; text-align:center; color:#585d68; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; text-decoration: underline; letter-spacing: -1px; }
.mainbanner .banner ol li a:hover { text-decoration:none; color:#fff; }
.mainbanner .banner ol li.on a { color:#fff; font-family:'NanumBarunGothicBold','nbgb'; text-decoration:none; }
.mainbanner .banner .count { padding: 0px 10px; position:absolute; left:533px; top:12px; color:#fff; font-size: 11px; line-height: 30px; font-family: tahoma; z-index:22; }
.mainbanner .banner .count b { color:#fff; font-family:'NanumBarunGothicBold','nbgb'; }
.mainbanner .banner .prev { position:absolute; left: 54px; top:12px; width:25px; height:30px; background:url(../img/main/btn_mainbanner_prev.png) no-repeat; text-indent:-10000px; display:block; z-index:22; }
.mainbanner .banner .prev:hover { background:url(../img/main/btn_mainbanner_prev_on.png) no-repeat; }
.mainbanner .banner .next { position:absolute; left:487px; top:12px; width:25px; height:30px; background:url(../img/main/btn_mainbanner_next.png) no-repeat;text-indent:-10000px; display:block; z-index:22; }
.mainbanner .banner .next:hover { background:url(../img/main/btn_mainbanner_next_on.png) no-repeat; }
.mainbanner .banner .all { position:absolute; left:264px; top:439px; z-index: 24; width:34px; height:30px; background:url(../img/common/btn_mainbanner_all.gif) no-repeat -10px -12px; overflow: hidden; text-indent: -9999px; }
/* banner update end */

.mainbanner .banner .list { display: none; }
.mainbanner .cover_banner { display: none; }
.mainbanner .cover_banner .more { display:none; }
.mainbanner .cover_banner .close { display: none; }
.layout_sub .mainbanner { width: 800px; height: 155px; z-index: 11; }
.layout_sub .mainbanner .banner { width: 800px; }
.layout_sub .mainbanner .banner .slides { height:155px; overflow:hidden;background:none }
.layout_sub .mainbanner .banner .slides a { display: block; }
.layout_sub .mainbanner .banner .slides img { width:1080px; height:auto; vertical-align:top; }
.layout_sub .mainbanner .banner .prev { width: 22px; height: 38px; top: 60px; left: 30px; background: no-repeat url('../img/common/btn_subbanner_prev.png'); }
.layout_sub .mainbanner .banner .prev:hover { background: no-repeat url('../img/common/btn_subbanner_prev.png'); }
.layout_sub .mainbanner .banner .next { width: 22px; height: 38px; top: 60px; left: 745px; background: no-repeat url('../img/common/btn_subbanner_next.png'); }
.layout_sub .mainbanner .banner .next:hover { background: no-repeat url('../img/common/btn_subbanner_next.png'); }
.layout_sub .mainbanner .banner .count { display: none; }
.layout_sub .mainbanner .banner .all { display: none; }
.layout_sub .mainbanner .banner div.controls { width: auto; height: auto; position: static; left:auto; top:auto; z-index:23; background: none; }
.layout_sub .mainbanner .banner div.mask { width: 100%; height: 10px; position: absolute; top: 135px; left: 0px; z-index:23; text-align: center; font-size: 0; line-height: 0; }
.layout_sub .mainbanner .banner ol { width: auto; height: 10px; display: inline; font-size: 0; line-height: 0; margin-left:0 !important}
.layout_sub .mainbanner .banner ol li { width: 50px; height: 10px; margin-right: 10px; display: -moz-inlin-stack; display: inline-block; zoom: 1; *display: inline; float: none; }
.layout_sub .mainbanner .banner ol li a { width: 50px; height: 10px; padding: 0px; display: block; overflow: hidden; background-color: #000; text-indent: -9999px; }
.layout_sub .mainbanner .banner ol li.on a { background-color: #b4230c; }
.layout_sub .cover0{background:url(../img/common/sub_start_bg.png) no-repeat right top;position:absolute;top:0;right:-280px;width:280px;height:155px;z-index:10}
.gamestart{position:absolute;top:0;right:-87px;width:384px;height:356px;background:url(../img/common/bg_eff_0.png) no-repeat;z-index:20}
.gamestart .btn_gamestart, .gamestart .btn_spec, .gamestart .btn_download{display:block;text-indent:-999px;overflow:hidden}
.gamestart .btn_gamestart{margin:187px 0 10px 90px;background:url(../img/common/btn_gamestart.png) no-repeat;width:160px;height:46px}
.gamestart .btn_spec{float:left;width:62px;height:13px;margin-left:105px;background:url(../img/common/btn_spec.png) no-repeat}
.gamestart .btn_download{width:71px;height:13px;background:url(../img/common/btn_download.png) no-repeat}
.gamestart .btn_effect{position:absolute;top:-1px;right:0}
.gamestart .state{position:absolute;top:120px;right:175px;text-indent:-999px;overflow:hidden;width:144px;height:92px;background:url(../img/common/img_state.png) no-repeat}
.loginbox {position:absolute;top:335px;font-size:11px;width:100%;z-index:20;color:#91949c}
.loginbox legend{width: 0;height: 0;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;}
.loginbox .bar{color:#424651;margin:0 2px;}
.loginbox .login, .loginbox .logout {position:relative;z-index:20}
.loginbox .login input {vertical-align:middle;}
.loginbox .login img {position:relative; top:-1px;vertical-align:middle; }
.loginbox .login i { padding:0 5px; }
.loginbox .login .security {position:relative}
.loginbox .login .security input { margin-right:3px; }
.loginbox .login .security span { display:inline-block; }
.loginbox .login .btn_keyboard .ico_key{margin-left:5px}
.loginbox .login .loginform {position:relative;height:40px; }
.loginbox .login .loginform input {position:absolute;width:137px; height:37px;padding-left:12px; line-height:39px; background:#000; color:#91949c;border:1px solid #4a4c54;border-radius:5px}
.loginbox .login .loginform input:focus{color:#fff;border-color:#344c7a !important}
.loginbox .login .login_id { left:0; top:1px; }
.loginbox .login .login_pass { left:155px; top:1px; }
.loginbox .login .btn_login { position:absolute; left:310px; top:0; width:83px; height:40px; text-indent:-10000px; display:block;background:url(../img/common/btn_login.gif) no-repeat }
.loginbox .logout .name {display:block;padding-right:10px;font-weight:normal;}
.loginbox .logout .name a{display:inline-block;color:#fff;background:url(../img/common/bg_logout_name.gif) no-repeat right 45%;font-size:15px;width:100%; overflow:hidden; text-overflow:ellipsis;white-space: nowrap;}
.loginbox .logout .info_crt_no, 
.info_crt_yes{display:none}
.loginbox .logout .btn_logout{position:absolute;font-family:Tahoma;text-decoration:underline;font-weight:bold}
.loginbox .info_profile .li2{_zoom:1;overflow:hidden}
.loginbox .info_profile .li2 li{float:left;}
.loginbox .info_profile .li2 em{display:inline-block;color:#bfc2c7}
.loginbox .info_profile .btn{position:absolute;display:inline-block;color:#fff;border-radius:3px;background:#e5373c;text-align:center;padding:0 9px !important;text-indent:0}
.loginbox .info_profile .btn_crt{background:#3a527c}
.loginbox .info_profile .li2 li a b{font-weight:normal}
.loginbox .logout.crt_no .name a{background:none}
.loginbox .guide{padding-left:5px}
.loginbox .sns .sns_n{text-indent:-999px;overflow:hidden;display:block;width:18px;height:18px;background:url(../img/common/ico_login_n.gif) no-repeat;}
.info_crt_yes{position:absolute;top:37px;left:0px;width:238px;height:136px;background:#000;z-index:10;border-top:1px solid #424651;border-radius:0 0 5px 5px}
.info_crt_yes ul{padding:0 10px;height:108px;overflow:hidden;overflow-y:scroll;position:relative;border-top:10px solid #000;z-index:10;margin:0 10px;line-height:22px;}
.info_crt_yes a{display:inline-block}
.info_crt_yes .on a{color:#fff;padding-right:30px;background:url(../img/common/icon_on.png) no-repeat right 3px}
#sub_contents{background:#fff}
#ak_footer{background:#151a22;padding:50px 0;width:100%;overflow:hidden}
.footer_in{position:relative;width:1080px;margin:0 auto;font-size:11px;_zoom:1;line-height:20px}
.footer_in .sitemap{width:615px}
.footer_in .sitemap i.closed { width: 96px; height: 31px; margin-left: -14px; padding-top: 7px; display: block; background: no-repeat url('../img/common/tip_closed.gif'); color: #484d54; font-size: 12px; line-height: 31px; text-align: center; }
.footer_in .sitemap i.v2 { background: no-repeat url('../img/common/tip_closed2.gif'); }
.footer_in .sitemap>li{float:left;width:135px;padding-left:15px;min-height:170px;font-size:13px}
.footer_in .sitemap strong{display:block;margin-bottom:10px;font-size:15px;color:#bfc2c7; font-family:'NanumBarunGothicBold','nbgb';}
.footer_in .sitemap li li a{line-height:20px;color:#484d54}
.footer_in .pcbang { width: 381px; position: absolute; top: -12px; right: 13px; background: no-repeat url('../img/common/pcbang.jpg') 17px 0px; }
.footer_in .pcbang h3 { margin-left:165px; padding-top: 11px; font-size:15px; font-family:'NanumBarunGothicBold','nbgb'; line-height: 23px; color:#fff; display:block; }
.footer_in .pcbang ul { margin-left:165px; padding:7px 0 13px 0; overflow:hidden; position: relative; }
.footer_in .pcbang ul li { padding: 0px; font-size:12px; line-height: 21px; color:#5c5f65; letter-spacing: -1px; }
.footer_in .pcbang .btn_pcbang { height: 20px; margin-bottom: 4px; margin-left:165px; display: -moz-inlin-stack; display: inline-block; zoom: 1; *display: inline; color: #b9bbbd; font-family:'NanumBarunGothicBold','nbgb'; font-size: 14px; line-height: 20px; text-decoration: underline; }
.footer_in .pcbang .coupon { width: 380px; height: 78px; margin-top: 32px; margin-bottom: 10px; border-right: 1px #13171d solid; border-bottom: 1px #13171d solid; position: relative; background-color: #0f1319; }
.footer_in .pcbang .coupon ol { width: 324px; height: 78px; overflow: hidden; position: relative; background-color: #11151c; }
.footer_in .pcbang .coupon ol li { height: 78px; padding: 0px 0px 0px 18px; position: absolute; top: 0px; left: 0px; line-height: 78px; }
.footer_in .pcbang .coupon .btn_up { width: 56px; height: 24px; display: block; position: absolute; top: 0px; right: 0px; overflow: hidden; background: no-repeat url('../img/common/pcbang_arr_up.gif'); text-indent: -9999px; }
.footer_in .pcbang .coupon .btn_down { width: 56px; height: 24px; display: block; position: absolute; bottom: 0px; right: 0px; overflow: hidden; background: no-repeat url('../img/common/pcbang_arr_down.gif'); text-indent: -9999px; }
.footer_in .pcbang .coupon strong { padding-top: 18px; color:#5581be; font-size: 15px; line-height: 23px; font-family:'NanumBarunGothicBold','nbgb'; display:block; }
.footer_in .pcbang .coupon span { font-size:12px; color:#3e4249; font-size: 12px; line-height: 20px; display:block; }
.footer_in .pcbang .coupon a { overflow:hidden; display:block; }
.footer_in .pcbang .coupon a:hover { text-decoration:underline;  }
.footer_in .pcbang .search { position:relative; width:381px; height:42px; position: relative; background:#11151c; }
.footer_in .pcbang .search input { position:absolute; left:0px; top:0px; width:324px; height:39px; font-size:12px; line-height: 42px; color:#3e4249; text-indent: 17px; background: none; border:1px solid #000}
.footer_in .pcbang .search input:focus{border:1px solid #2d456d}
.footer_in .pcbang .search .btn_search { position:absolute; left:324px; top:0; width:57px; height:42px; text-indent:-10000px; display:block; overflow: hidden; background: no-repeat url('../img/common/btn_pcbang_search.gif'); }
.footer_in .banner img { border:1px solid #564036; }
.footer hr{clear:both;height:0;border:0;border-bottom:1px solid #252b33;margin-bottom:35px}
.footer_in h1 {position: relative; width:250px;float: left;margin-top:25px}
.footer_in .btn_ci {display: inline-block;text-indent:-999px;overflow:hidden}
.footer_in .ci_neowizgames {float:left;width:94px; height:21px; background: url(../img/common/ci_neowiz_games.png) no-repeat 0 50%;margin-right:25px}
.footer_in .ci_neowizcrs { width:94px; height:20px; background: url(../img/common/ci_neowizcrs.png) no-repeat 0 50%;}
.footer_in .ci_channeling {display:none;}
.footer_in .siteinfo, .footer_in address{float:left;width:520px}
.footer_in, .footer_in a{color:#505359}
.footer_in address .copy{color:#383c43}
.footer_in .siteinfo li{float:left}
.footer_in .gameinfo {position: absolute; top:0; right:-60px; width:380px;height:77px;z-index:10;background:url(../img/common/bg_discussion.gif) no-repeat}
.footer_in .gameinfo .tab_link {display:none;position: relative; height: 15px; z-index: 200;}
.footer_in .gameinfo .tab_link a {display: block; text-indent: -99999px; position: absolute; top: 0; z-index: ; background: url(../img/common/blank.gif) repeat 0 0;}
.footer_in .gameinfo .tab_link a.teen {width: 144px; height: 15px; left: 0;}
.footer_in .gameinfo .tab_link a.adult {width: 145px; height: 15px; right: 0;}
.footer_in .gameinfo .tab_contents{display:none;position: absolute; left: 0; top: 0; width: 289px; height: 63px; z-index: -1;}

/* main */
.layout_main #ak_wrapper{background:url(../img/main/bg_wrapper.jpg) no-repeat center top}
.layout_main #ak_header{height:681px;background:none;}
/* .layout_main .header_in .eff_piece{top:126px;right:-85px;background:url(../img/main/bg_piece_0.png) no-repeat;width:142px;height:246px} */
.layout_main .header_in .eff_piece2{top:356px;left:-88px;background:url(../img/main/bg_piece2_0.png) no-repeat;width:192px;height:258px;display:block}
.layout_main .header_in .update{display:block}
.layout_main .loginbox {top:360px;right:0;height:243px;width:297px;}
.layout_main .loginbox .login .loginform input{border-color:#000}
.layout_main .loginbox .login, .layout_main .loginbox .logout {padding:22px 30px 0 30px;width:237px;background:url(../img/common/bg_login.gif) no-repeat}
.layout_main .loginbox .security {height:46px;padding-left:3px}
.layout_main .loginbox .login .security .btn_helper{position:absolute;top:0;}
.layout_main .loginbox .login .security .btn_helper .bar{display:none}
.layout_main .loginbox .login .sns {position:absolute; right:30px; top:163px; }
.layout_main .loginbox .loginform{height:96px; background:none}
.layout_main .loginbox .loginform .login_pass {left:0;top:41px;/* background:url(../img/common/bg_loginform.gif) no-repeat;*/}
.layout_main .loginbox .loginform .btn_login {left:154px;height:81px;background:url(../img/main/btn_login.png) no-repeat}
.layout_main .loginbox .logout{padding-top:34px;background:url(../img/common/bg_logout.gif) no-repeat}
.layout_main .loginbox .logout .name {padding-right:50px;margin-bottom:8px}
.layout_main .loginbox .logout .name a{padding-right:15px;background:url(../img/main/bg_logout_name.png) no-repeat right 45%;width:160px;min-height:15px}
.layout_main .loginbox .logout .btn_logout{top:32px;right:35px;}
.layout_main .loginbox .info_profile{margin-bottom:20px}
.layout_main .loginbox .info_profile .li2{padding-top: 70px;}
.layout_main .loginbox .info_profile .li2 li{width:130px;margin-bottom:5px}
.layout_main .loginbox .info_profile .li2 em{width:50px;}
.layout_main .loginbox .info_profile .li2 .even{width:105px}
.layout_main .loginbox .info_profile .li2 .even em{width:30px;}
.layout_main .loginbox .info_profile .btn{top:88px;height:32px;line-height:32px;}
.layout_main .loginbox .info_profile .btn_crt{left:30px}
.layout_main .loginbox .info_profile .btn_cash{right:115px}
.layout_main .loginbox .info_profile .btn_stone{right:50px}
.layout_main .loginbox .info_recent{clear:both;text-align:right}
.layout_main .loginbox .info_recent a{color:#bfc2c7;padding:0 10px}
.layout_main .loginbox .logout.crt_no a{background:none}
.layout_main .loginbox .logout.crt_no .li1, .layout_main .logout.crt_no .btn{visibility:hidden}
.layout_main .loginbox .logout.crt_no .info_crt_no{display:block;position:absolute;top:0;left:0;width:100%;height:55px;padding-top:80px;background:url(../img/main/bg_logout_crtno.png) repeat-x left bottom;text-align:center;color:#fff;font-family:'NanumBarunGothicBold','nbgb';}
.layout_main .info_crt_yes{top:52px;left:29px;width:238px;padding-top:5px;background:url(../img/main/bg_logout_crtyes.png) no-repeat 168px top;z-index:101;border-top:0;border-radius:0}
.layout_main .info_crt_yes ul{border:10px solid #fff;background:#fff;margin:0}
.layout_main .info_crt_yes .on a{color:#07072d;}
.layout_main .info_crt_yes .scroll{scrollbar-face-color:#212632;scrollbar-highlight-color:#212632;scrollbar-3dlight-color:#212632;scrollbar-track-color: #dee1e4;scrollbar-shadow-color: #212632;scrollbar-darkshadow-color:#dee1e4;scrollbar-arrow-color:#fff;}
.layout_main .loginbox .sns .sns_n{position:absolute;top:28px;right:0;width:237px;height:35px;background:url(../img/common/ico_login_n.png) no-repeat;}
.layout_main .gamestart{right:-135px;width:497px;height:387px;background:url(../img/main/bg_eff_0.png) no-repeat;}
.layout_main .gamestart .btn_gamestart{margin:205px 0 19px 125px;}
.layout_main .gamestart .btn_spec{margin-left: 140px;}
.layout_main .gamestart .btn_effect{position:absolute;top:0}
.layout_main #sub_contents{background:#1a202a}
.layout_main .container .bg{background:#fff}
.layout_main .container .bg2{background:#293142}
.layout_main .container h2{margin-bottom:15px}
.layout_main .container .f_left{width:470px;margin-right:83px;}
.layout_main .container_in{width:1080px;margin:0 auto;padding:43px 0 45px 0;overflow:hidden;_zoom:1;color:#656b77;position:relative}
.layout_main .bg{overflow:hidden;_zoom:1}
.layout_main .bg .container_in{width:1200px;min-height:220px;}
.layout_main .bg .f_left{margin-left:60px}
.layout_main .news{float:left;line-height:22px;position:relative}
.layout_main .news h2{margin-bottom:20px}
.layout_main .news dl{padding-bottom:17px;background:url(../img/common/bg_hr.gif) no-repeat left bottom}
.layout_main .news dt a, .layout_main .news ul a{color:#07072d;font-size:15px;}
.layout_main .news dt a{/* font-family:'NanumBarunGothicBold','nbgb';*/}
.layout_main .news dt a:visited, .layout_main .news ul a:visited{color:#737373}
.layout_main .news dd a{color:#787879}
.layout_main .news dd a:visited{color:#b4b4b4}
.layout_main .news hr{width:15px;height:1px;outline:none;float:left;}
.layout_main .news ul{margin-top:20px}
.layout_main .news ul li, .layout_main .news .date{text-align:right;color:#979798;font-size:12px}
.layout_main .news ul a{float:left}
.layout_main .news .btn_more{position:absolute;display:block;top:0;text-indent:-999px;overflow:hidden;background:url(../img/common/btn_more.gif) no-repeat;width:24px;height:24px;right:0}
.layout_main .news img{vertical-align:middle}
.layout_main .news .date{position:absolute;top:36px;right:0}
.layout_main .shop{position:absolute;top: 10px; right: 0px;width:623px;height:297px;overflow:hidden;background: no-repeat url('../img/main/bg_shop.jpg');}
.layout_main .shop h2 { display: none; }
.layout_main .shop ol { width: 527px; height: 225px; position: absolute; top: 32px; left: 36px; overflow: hidden; background: #282e3c; white-space: nowrap; font-size: 0; line-height: 0; }
.layout_main .shop li { width: 50px; height: 225px; border-right: 1px #444b54 solid; display: -moz-inlin-stack; display: inline-block; zoom: 1; *display: inline; position: relative; overflow: hidden; }
.layout_main .shop li:last-child { border-right: 0px; }
.layout_main .shop li i { position:absolute;top:15px;left:16px; z-index: 3;display:block;width:20px;height:14px;background:url(../img/main/bg_shop_num.png) no-repeat; }
.layout_main .shop .li1 {width: 425px;}
.layout_main .shop .li2 i {background-position:-51px top}
.layout_main .shop .li3 i {background-position:-102px top}
.layout_main .shop li a { height: 225px; display: block; position: relative; z-index: 1; }
.layout_main .shop li a img { position: absolute; top: 0px; left: 0px; }
.layout_main .shop .li1 a img {left: -50px;}
.layout_main .shop ol.no{background:url(../img/main/bg_shop_no.png) no-repeat left top;width:537px;height:237px;margin-top:0;margin-left:0;top: 26px; left: 31px;}
.layout_main .shop ol.no img, .layout_main .shop ol.no i, .layout_main .shop ol.no li{display:none}
/* .layout_main .shop h2{width: 0;height: 0;overflow: hidden;visibility: hidden;font-size: 0;line-height: 0;margin:0}
.layout_main .shop ol{position:relative;width:2000px;_zoom:1;overflow:hidden;height:225px;margin-top:6px;margin-left:9px}
.layout_main .shop li{position:relative;float:left;width:50px;height:100%;border-left:1px solid #444b54}
.layout_main .shop li a{display:block;width:100%;height:100%}
.layout_main .shop li.on{overflow:hidden;width:426px}
.layout_main .shop li.on img{margin-left:-50px}
.layout_main .shop li i{position:absolute;top:15px;left:16px;display:block;width:17px;height:14px;background:url(../img/main/bg_shop_num.png) no-repeat}
.layout_main .shop .li1{border-left:0}
.layout_main .shop .li2 i {background-position:-51px top}
.layout_main .shop .li3 i {background-position:-102px top}
.layout_main .shop a{display:block;width:100%;height:100%}
@keyframes test{
	0%{width:0px;height:225px}
	100%{width:427px;height:225px}
}
@-webkit-keyframes test{
	0%{width:0px;height:225px}
	100%{width:427px;height:225px}
} */
.layout_main .sales {position:absolute;top: 10px; right: 0px;width:623px;height:297px;overflow:hidden;background: no-repeat url('../img/main/bg_shop.jpg') left top;}
.layout_main .sales h2 { display: none; }
.layout_main .sales .list { width: 527px; height: 225px; position: absolute; top: 32px; left: 36px; z-index: 2; overflow: hidden; }
.layout_main .sales ul,
.layout_main .sales ol { width: 1584px; height: 225px; position: absolute; top: 0px; left: 0px; overflow: hidden; background: #282e3c; white-space: nowrap; font-size: 0; line-height: 0; }
.layout_main .sales li { width: 527px; height: 225px; display: -moz-inlin-stack; display: inline-block; zoom: 1; *display: inline; position: relative; overflow: hidden; }
.layout_main .sales li:last-child { border-right: 0px; }
.layout_main .sales li i { display: none; position:absolute;top:15px;left:16px; z-index: 3;display:block;width:20px;height:14px;background:url(../img/main/bg_shop_num.png) no-repeat; }
.layout_main .sales .li2 i {background-position:-51px top}
.layout_main .sales .li3 i {background-position:-102px top}
.layout_main .sales li a { width: 527px; height: 225px; display: block; position: relative; z-index: 1; }
.layout_main .sales li a img { position: absolute; top: 0px; left: 0px; }
.layout_main .sales .no{background:url(../img/main/bg_shop_no.png) no-repeat left top;width:537px;height:237px;margin-top:0;margin-left:0;top: -6px; left: -5px;}
.layout_main .sales .no img, .layout_main .sales ol.no i, .layout_main .sales ol.no li{display:none}
.layout_main .sales .nav { width: 527px; height: 8px; position: absolute; top: 202px; left: 36px; z-index: 4; font-size: 0; line-height: 0; text-align: center; }
.layout_main .sales .nav a { width: 40px; height: 50px; margin-right: 2px; display: -moz-inlin-stack; display: inline-block; zoom: 1; *display: inline; position: relative; font-size: 0; line-height: 0; position: relative; background: no-repeat url('../img/common/_blank.gif'); cursor: pointer; vertical-align: top; }
.layout_main .sales .nav a span { height: 8px; display: block; border: 1px #000000 solid; position: relative; top: 20px; border-radius: 1px; overflow: hidden; background-color: #222; font-size: 0; line-height: 0; text-indent: -9999px; }
.layout_main .sales .nav a:hover span { border: 1px #fff solid; background-color: #f2f2f2; }
.layout_main .sales .nav a b span { border: 1px #982513 solid; background-color: #b4230c; }
.layout_main .sales .btn_prev { width: 49px; height: 49px; display: block; position: absolute; top: 124px; left: 36px; z-index: 3; overflow: hidden; background: no-repeat url('../img/main/shop_dir.png'); cursor: pointer; }
.layout_main .sales .btn_prev:hover { background: no-repeat url('../img/main/shop_dir.png') 0px -49px; }
.layout_main .sales .btn_next { width: 49px; height: 49px; display: block; position: absolute; top: 124px; right: 60px; z-index: 3; overflow: hidden; background: no-repeat url('../img/main/shop_dir.png') -49px 0px; cursor: pointer; }
.layout_main .sales .btn_next:hover { background: no-repeat url('../img/main/shop_dir.png') -49px -49px; }
.layout_main .bg2 dt{float:left;width:205px;margin-right:15px}
.layout_main .bg2 dd{float:left;margin-top:-33px;}
.layout_main .bg2 .btn_more{position:absolute;left:0;bottom:0;text-decoration:underline;color:#bfc2c7}
.layout_main .ranking, .layout_main .mobile{position:relative;min-height:110px}
.layout_main .ranking li{width:205px;height:35px;line-height:35px;margin-bottom:1px;background:#202a39 url(../img/main/bg_ranking.png) no-repeat 7px 5px;padding-left:45px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.layout_main .ranking .first a{color:#bfc2c7}
.layout_main .ranking .sec{background-position:7px -32px}
.layout_main .ranking .thr{background-position:7px -67px}
.layout_main .ranking dd{position:relative}
.layout_main .ranking dd:hover i{display:block;position:absolute;top:-10px;left:-10px;width:250px;height:107px;border:10px solid #5581be;z-index:1}
.layout_main .ranking a{position:relative;z-index:10}
.layout_main .ranking dd.no{background:url(../img/main/bg_ranking_no.gif) no-repeat;width:250px;height:107px}
.layout_main .ranking dd.no i, .layout_main .ranking dd.no ol{display:none}
.layout_main .ranking .btn_more{display:none}
.layout_main .mobile, .layout_main .mobile li{float:left}
.layout_main .mobile dt{width:165px}
.layout_main .mobile li{position:relative;margin-left:10px}
.layout_main .mobile h2+a{display:block;float:left;color:#656b77}
.layout_main .mobile h2+a:hover dt{text-decoration:underline}
.layout_main .mobile h2+a:hover dd i{position:absolute;top:0;left:0;display:block;width:85px;height:87px;border:10px solid #5581be}
.layout_main .magazine{width:1110px;margin-bottom:50px;_zoom:1;overflow:hidden}
.layout_main .magazine li{position:relative;float:left;width:250px;margin-right:27px;overflow:hidden}
.layout_main .magazine .thum{display:block;height:175px;}
.layout_main .magazine .thum img{margin-bottom:10px}
.layout_main .magazine .thum:hover i, .layout_main .magazine .thum:focus i{position:absolute;top:0;left:0;width:250px;height:140px;background:url(../img/main/bg_magazine_over.png) no-repeat;display:block;content:"";cursor:pointer}
.layout_main .magazine .thum a:visited{color:#525966}
.layout_main .magazine .btn_more{display:inline-block;margin-top:5px;padding-right:18px;font-family:Tahoma;color:#506b9e;background:url(../img/common/icon_more.png) no-repeat right 4px;font-weight:bold}
.layout_main .monster_in{position:relative;width:470px;height:165px;overflow:hidden;background:url(../img/main/bg_monster.jpg) no-repeat}
.layout_main .monster ul{width:2000px;position:relative}
.layout_main .monster li a:hover, .layout_main .monster li a:focus{text-decoration:none}
.layout_main .monster .title{display:block;color:#e3e8f0;font-size:28px;margin-bottom:14px;padding-top:32px;line-height:28px;width:200px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.layout_main .monster li{position:absolute;float:left;width:470px;height:165px}
.layout_main .monster li a{display:block;padding-left:30px;height:165px}
.layout_main .monster li a:visited .content{color:#525966}
.layout_main .monster li a:hover i{display:block;width:450px;height:145px;position:absolute;top:0;left:0; border:10px solid #5581be;z-index:5}
.layout_main .monster .thum{position:absolute;top:0;right:0}
.layout_main .monster .btn_prev, .layout_main .monster .btn_next{position:absolute;top:58px;display:inline-block;width:49px;height:49px;background:url(../img/main/btn_monster.png) no-repeat;text-indent:-999px;overflow:hidden;z-index:10}
.layout_main .monster .btn_prev{left:240px}
.layout_main .monster .btn_next{left:421px;background-position:right 0}
.layout_main .monster .btn_prev:hover{background-position:left -49px}
.layout_main .monster .btn_next:hover{background-position:right -49px}
.layout_main .monster .btn_prev:active{background-position:left -98px}
.layout_main .monster .btn_next:active{background-position:right -98px}
.layout_main .monster, .layout_main .multimedia{position:relative}
.layout_main .monster .btn_more, .layout_main .multimedia .btn_more{position:absolute;top:0;right:5px;background:url(../img/common/btn_more.png) no-repeat;display:block;width:24px;height:24px;text-indent:-999px;overflow:hidden}
.layout_main .multimedia{float:left}
.layout_main .multimedia ul{padding:25px 0 20px 20px;overflow:hidden;_zoom:1;background:#212a37;min-height:120px}
.layout_main .multimedia li{float:left;width:150px;position:relative;text-align:center;margin-right:19px;z-index:20;overflow:hidden}
.layout_main .multimedia .movie i{display:block;width:150px;height:95px;position:absolute;top:0;left:0;background:url(../img/common/icon_movie.png) no-repeat center 36px;z-index:10}
.layout_main .multimedia .movie a:hover i, .layout_main .multimedia .movie a:focus i{background:url(../img/main/bg_movie_over.png) no-repeat;}
.layout_main .multimedia a{width:150px;height:120px;display:block}
.layout_main .multimedia a img, .layout_main .multimedia a embed{margin-bottom:10px;width:100%;height:95px;vertical-align:top}
.layout_main .multimedia a:hover i, .layout_main .multimedia a:focus i{position:absolute;top:0;left:0;width:100%;height:95px;background:url(../img/main/bg_multimedia_over.png) no-repeat;display:block}
.layout_main .multimedia iframe{position: absolute; top: 0;left: 50%;margin-left: -104px; width: 208px; height: 117px;}

/* sub */
.layout_sub .mainbanner .banner{height:100%}
.layout_sub .loginbox{float:left;left:0}
.layout_sub .loginbox .loginform{float:left;width:410px}
.layout_sub .loginbox .security{float:left;/*line-height:40px;*/height:27px;width:245px;padding-top:13px}
.layout_sub .loginbox .guide, .layout_sub .loginbox .login .sns{float:left;height:27px;padding-top:13px;z-index: 10;  position: relative}
.layout_sub .loginbox .login .sns{margin-top:-1px}
.layout_sub .loginbox .logout .name{float:left; width:211px;height:38px;line-height:38px;border:1px solid #000;padding-left:15px;margin-right:117px;background:#000;border-radius:5px}
.layout_sub .loginbox .logout .btn_logout{top:0;left:246px;width:75px;height:40px;line-height:38px;background:url(../img/common/btn_logout.gif) no-repeat;display:block;/*text-align:center;color:#bfc2c7;font-weight:bold;font-family:tahoma;*/overflow:hidden;text-indent:-999px}
.layout_sub .loginbox .info_profile .li1{display:none}
.layout_sub .loginbox .info_profile .li2{height:40px;line-height:42px;float:left;font-size:13px}
.layout_sub .loginbox .info_profile .li2 li{margin-right:15px;padding-left:15px;background:url(../img/common/bar.gif) no-repeat left 50%}
.layout_sub .loginbox .info_profile .li2 li:first-child{background:none;padding-left:0}
.layout_sub .loginbox .info_profile .li2 em{padding-right:10px;color:#fff;}
.layout_sub .loginbox .info_profile .li2 li a{*padding-right:5px;color:#9da1a8}
.layout_sub .loginbox .info_profile .btn{height:29px;line-height:30px;position:relative;margin-left:10px;font-size:11px;color:#fff !important}
.info_crt_yes a{font-size:13px}
.layout_sub .info_recent, .layout_sub .loginbox .info_profile .btn_crt{display:none}
.layout_sub .container_in{position:relative;padding:74px 39px;margin:0 auto;width:1000px;min-height:1000px;border:1px solid #dededc;border-width:0 1px}
.layout_sub .gamestart .state{top:105px;right:75px}
.layout_sub .loginbox .sns .sns_n{float: left; margin-top:-1px;margin-right: 2px;}
/* Banner */
.ol .nwz-controls { width: 465px; position: absolute; top: 0px; left: 0px; }
.nwz-prev, .nwz-next { position: absolute; top: -71px; width: 22px; height: 37px; text-indent: -999px; overflow: hidden; text-align: left; background: url(../img/common/btn_mainbanner.png) no-repeat left top }
.nwz-prev { left: -25px; }
.nwz-next { right: -45px; background-position: right top }
.nwz-prev, .nwz-next { top: 0; width: 25px; height: 30px; padding-top: 24px; }
.nwz-prev { background: #272d3b url(../img/main/btn_mainbanner_prev.png) no-repeat center 13px }
.nwz-prev:hover { background: #272d3b url(../img/main/btn_mainbanner_prev_on.png) no-repeat center 13px; }
.nwz-next { padding-right: 20px; background: #272d3b url(../img/main/btn_mainbanner_next.png) no-repeat left 13px; }
.nwz-next:hover { background: #272d3b url(../img/main/btn_mainbanner_next_on.png) no-repeat left 13px }
.nwz-carousel .nwz-wrapper:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.nwz-carousel { display: none; position: relative; width: 100%; -ms-touch-action: pan-y; }
.nwz-carousel .nwz-wrapper { display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px); }
.nwz-carousel .nwz-wrapper-outer { overflow: hidden; position: relative; width: 100%; }
.nwz-carousel .nwz-wrapper-outer.autoHeight { -webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out; }
.nwz-carousel .nwz-item { float: left; }
.nwz-controls .nwz-page, .nwz-controls .nwz-buttons div { cursor: pointer; }
.nwz-controls { display: block !important; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
.grabbing { cursor: url(../img/common/grabbing.png) 8 8, move; }
.nwz-carousel  .nwz-wrapper, .nwz-carousel  .nwz-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0);z-index:20 }
.nwz-origin { -webkit-perspective: 1200px; -webkit-perspective-origin-x: 50%; -webkit-perspective-origin-y: 50%; -moz-perspective: 1200px; -moz-perspective-origin-x: 50%; -moz-perspective-origin-y: 50%; perspective: 1200px; }
.nwz-fade-out { z-index: 10; -webkit-animation: fadeOut .7s both ease; -moz-animation: fadeOut .7s both ease; animation: fadeOut .7s both ease; }
.nwz-fade-in { -webkit-animation: fadeIn .7s both ease; -moz-animation: fadeIn .7s both ease; animation: fadeIn .7s both ease; }
.nwz-backSlide-out { -webkit-animation: backSlideOut 1s both ease; -moz-animation: backSlideOut 1s both ease; animation: backSlideOut 1s both ease; }
.nwz-backSlide-in { -webkit-animation: backSlideIn 1s both ease; -moz-animation: backSlideIn 1s both ease; animation: backSlideIn 1s both ease; }
.nwz-goDown-out { -webkit-animation: scaleToFade .7s ease both; -moz-animation: scaleToFade .7s ease both; animation: scaleToFade .7s ease both; }
.nwz-goDown-in { -webkit-animation: goDown .6s ease both; -moz-animation: goDown .6s ease both; animation: goDown .6s ease both; }
.nwz-fadeUp-in { -webkit-animation: scaleUpFrom .5s ease both; -moz-animation: scaleUpFrom .5s ease both; animation: scaleUpFrom .5s ease both; }
.nwz-fadeUp-out { -webkit-animation: scaleUpTo .5s ease both; -moz-animation: scaleUpTo .5s ease both; animation: scaleUpTo .5s ease both; }
.mask .nwz-carousel .nwz-item{min-width:155px !important}

/* Keyframes */
@-webkit-keyframes empty {
  0% { opacity: 1 }
}
@-moz-keyframes empty {
  0% { opacity: 1 }
}
@keyframes empty {
  0% { opacity: 1 }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}
@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}
@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

.channeling{position:relative;padding:24px 30px 13px 30px;width:237px;background:url(../img/common/bg_login.gif) no-repeat;z-index:10}
.channeling .box{height:75px;padding:40px 0 0 0;border:1px solid #26282d;background:#0d1015;text-align:center;line-height:18px;color:#fff;font-size:13px;overflow:hidden;margin-bottom:23px;color:#e3e8f0}
.channeling .box .point{color:#e4483d;display:block}
.channeling .btn{display:block;width:237px;height:46px;text-indent:-999px;overflow:hidden}
.channeling .step_2 .box{padding-top:29px;height:86px;}
.channeling .step_2 .btn{background:url(../img/common/btn_rule.jpg) no-repeat}
.channeling .step_3 .box, .layout_sub .channeling .step_3 .box{background:url(../img/common/bg_channeling.png) no-repeat center 67px}
.ch-naver .channeling .step_1 .btn{background:url(../img/common/btn_login_naver.jpg) no-repeat}
.ch-naver .footer_in h1{margin-top:15px;}
.ch-naver .footer_in .ci_naver{display:block;margin-top:10px;margin-left:67px;width:77px; height: 14px; background: url(../img/common/ci_naver.png) no-repeat 0 50%;}
.ch-daum .channeling .step_1 .btn{background:url(../img/common/btn_login_daum.jpg) no-repeat}
.ch-daum .footer_in h1{margin-top:5px;}
.ch-daum .footer_in .ci_daum{display:block;margin-top:10px;margin-left:67px;width:70px; height:35px; background: url(../img/common/ci_daum.gif) no-repeat 0 50%;}

.layout_main .channeling .txt2{display:none}
.layout_sub .channeling{padding:0;width:auto;background:none}
.layout_sub .channeling .btn{width:165px;height:40px}
.layout_sub .channeling .box .point{display:none}
.layout_sub .channeling .step_1 .box, .layout_sub .channeling .step_2 .box{float:left;margin-right:4px;width:273px;height:28px;padding:10px 15px 0 15px;text-align:left}
.layout_sub .channeling .step_2 .btn{background:url(../img/common/btn_rule_sub.jpg) no-repeat}
.layout_sub .channeling .step_3 .box{padding:0;border:0;background-position:center 34px}
.layout_sub .channeling .step_2 .txt{display:none}
.layout_sub .channeling .txt2{display:block}
.layout_sub.ch-naver .channeling .step_1 .btn{background:url(../img/common/btn_login_naver_sub.jpg) no-repeat}
.layout_sub.ch-daum .channeling .step_1 .btn{background:url(../img/common/btn_login_daum_sub.jpg) no-repeat}

/* main modal */
.modal_pop, .modal_pop .dim_bg{left: 0; top: 0; width: 100%; height: 100%; z-index: 1100;}
.modal_pop {position: absolute; display: none;}
.modal_pop .dim_bg {position: fixed; background: #000; opacity: .6; filter: alpha(opacity=60); z-index: 1105;}
.modal_pop .yt_holder {position: absolute; left: 0; top: 49px; width: 854px; height: 479px;}
.modal_pop .modal_body {width: 854px; height: 528px; position: relative; z-index: 1110;/* background: url(../img/common/bg_main_modal.gif) no-repeat 0 0;*/}
.modal_pop .modal_body h3 {position: absolute;left: 0; top: 0; width: 100%; height: 49px;}
.modal_pop .modal_body .btn_all {left: 0; top: 0;width: 177px; height: 49px;display:none}
.modal_pop .modal_body .btn_close {position:absolute;right: 0; top: 0;width:27px; height:27px; cursor: pointer;display:block;background:url(../img/common/btn_x.png) no-repeat;text-indent:-999px;overflow:hidden}
.aside{position:absolute;right:-248px;top:517px;width:193px;z-index: 10;}
.aside .skybanner{height: 205px;position:relative;left:50%;margin-left:-70px}
.aside .skybanner .detail{display:block;width:141px;height:159px;background:url(../img/main/banner_sky.png) no-repeat;text-indent:-999px;overflow:hidden}
.aside .skybanner .btn_close{position:absolute;top:28px;left:101px;width:23px;height:23px;display:block;background:url(../img/common/blank.gif) repeat;text-indent:-999px;overflow:hidden}
.aside .utility{position:absolute;top:205px;right:0;width: 186px;*width:180px; height: 432px;padding-left:7px;*padding-left:0;clear:both;background: no-repeat url('../img/common/btn_util_bg.png');overflow:hidden}
.aside .utility ul { width: 180px; height: 433px; overflow: hidden;font-size:0 }
.aside .utility li { width: 360px; position: relative; overflow: hidden; background: no-repeat url('../img/common/btn_util.gif'); }
.aside .utility a{display:block;width:180px;height:100%;position: absolute; top: 0px; left: 180px;text-indent:-9999px;overflow:hidden}
.aside .utility .li1{height:100px; border-bottom: 1px #2a3954 solid;}
.aside .utility .li2{height:104px;background-position: 0px -101px; border-bottom: 1px #2a3954 solid;}
.aside .utility .li3{height:107px;background-position: 0px -206px; border-bottom: 1px #2a3954 solid;}
.aside .utility .li4{height:104px;background-position: 0px -314px;}
/* .aside .fb-page {width: 178px; height: 128px;position: absolute;top:635px;left:7px } */
.fb_iframe_widget {width: 178px !important; height: 128px !important;position: absolute !important;top:635px;*top:645px;left:7px;*left:14px} 
.layout_etc{background:url(../img/etc/bg_footer.gif) repeat left bottom}
.layout_etc #sub_contents{background:none;width:1100px;height:802px;margin:0 auto;}
.layout_etc #ak_footer{background:none}
.layout_etc .container{position:relative;width:1100px;height:100%;margin:0 auto;text-indent:-9999px;overflow:hidden}
.layout_etc .container .btn{position:absolute;display:block;width:210px;height:75px;top:423px}
.layout_etc .footer_in{width:1100px}
.layout_etc .btn_prev{left:5px;background:url(../img/etc/btn_prev.png) no-repeat}
.layout_etc .btn_client{left:5px;background:url(../img/etc/btn_client.png) no-repeat}
.layout_etc .btn_join{top:530px !important;left:5px;background:url(../img/etc/btn_join.png) no-repeat}
.layout_etc .btn_home{left:215px;background:url(../img/etc/btn_home.png) no-repeat}
.wrap_login .btn_home{top:530px !important}
.wrap_404 .wrapper{background:url(../img/etc/bg_404.jpg) no-repeat center top !important}
.wrap_ing .wrapper{background:url(../img/etc/bg_ing.jpg) no-repeat center top !important}
.wrap_login .wrapper{background:url(../img/etc/bg_login.jpg) no-repeat center top !important}

.mainbanner, .gamestart, .loginbox, .eff_piece { /* display: none !important; */ }
/*Update banner*/
.update { z-index: 100; }
.mainbanner { z-index: 1; }
.header_in { z-index: 3; }
.background { width: 1541px; height: 555px; margin-left: -627px; display: none; position: absolute; top: 125px; left: 50%; z-index: 2; }
.background .bg { width: 1404px; height: 555px; display: block; position: relative; z-index: 2; background: no-repeat url('../img/main/banner_origin.png'); }
.background i { display: block; position: absolute; background-repeat: no-repeat; z-index: 1; }
.background .p1 { width: 191px; height: 189px; top: 250px; left: 35px; background-image: url('../img/main/p/1.png'); }
.background .p2 { width: 155px; height: 332px; top: 108px; left: 222px; background-image: url('../img/main/p/2.png'); }
.background .p3 { width: 296px; height: 142px; top: 112px; left: 0px; background-image: url('../img/main/p/3.png'); }
.background .p4 { width: 258px; height: 323px; top: 114px; left: 37px; background-image: url('../img/main/p/4.png'); }
.background .p5 { width: 152px; height: 144px; top: 91px; left: 328px; background-image: url('../img/main/p/5.png'); }
.background .p6 { width: 107px; height: 242px; top: 92px; left: 372px; background-image: url('../img/main/p/6.png'); }
.background .p7 { width: 135px; height: 214px; top: 233px; left: 243px; background-image: url('../img/main/p/7.png'); }
.background .p8 { width: 505px; height: 154px; top: 339px; left: 322px; background-image: url('../img/main/p/8.png'); }
.background .p9 { width: 272px; height: 264px; top: 71px; left: 371px; background-image: url('../img/main/p/9.png'); }
.background .p10 { width: 272px; height: 117px; top: 314px; left: 371px; background-image: url('../img/main/p/10.png'); }
.background .p11 { width: 273px; height: 266px; top: 74px; left: 369px; background-image: url('../img/main/p/11.png'); }
.background .p12 { width: 66px; height: 142px; top: 311px; left: 641px; background-image: url('../img/main/p/12.png'); }
.background .p13 { width: 350px; height: 295px; top: 220px; left: 821px; background-image: url('../img/main/p/13.png'); }
.background .p14 { width: 463px; height: 272px; top: 219px; left: 708px; background-image: url('../img/main/p/14.png'); }
.background .p15 { width: 532px; height: 209px; top: 9px; left: 639px; background-image: url('../img/main/p/15.png'); }
.background .p16 { width: 70px; height: 381px; top: 73px; left: 639px; background-image: url('../img/main/p/16.png'); }
.background .p17 { width: 290px; height: 255px; top: 198px; left: 664px; background-image: url('../img/main/p/17.png'); }
.background .p18 { width: 215px; height: 140px; top: 189px; left: 954px; background-image: url('../img/main/p/18.png'); }
.background .p19 { width: 420px; height: 252px; top: 76px; left: 645px; background-image: url('../img/main/p/19.png'); }
.background .p20 { width: 311px; height: 254px; top: 76px; left: 643px; background-image: url('../img/main/p/20.png'); }
.background .p21 { width: 85px; height: 228px; top: 0px; left: 1159px; background-image: url('../img/main/p/21.png'); }
/* .background .p22 { width: 62px; height: 77px; top: 55px; left: 506px; background-image: url('../img/main/p/22.png'); }
.background .p23 { width: 119px; height: 99px; top: 49px; left: 398px; background-image: url('../img/main/p/23.png'); }
.background .p24 { width: 52px; height: 70px; top: 136px; left: 501px; background-image: url('../img/main/p/24.png'); }
.background .p25 { width: 94px; height: 110px; top: 148px; left: 464px; background-image: url('../img/main/p/25.png'); }
.background .p26 { width: 121px; height: 63px; top: 241px; left: 483px; background-image: url('../img/main/p/26.png'); } */

.update_banner { width: 100%; height: 681px; display: block; position: absolute; top: 0px; left: 0px; z-index: 1; }
.update_banner_in { width: 1260px; height: 545px; margin-left: -645px; position: absolute; top: 136px; left: 50%; }
.update_banner .bg_left { width: 680px; height: 681px; margin-left: -1280px; display: block; position: absolute; top: 0px; left: 50%; }
.update_banner .bg_right { width: 680px; height: 681px; margin-left: -600px; display: block; position: absolute; top: 0px; left: 50%; }

/* .t20150810 .update_banner_in { background: no-repeat url('../img/main/banner_update.png'); }
.t20150810 .btn_update { width: 100%; height: 100%; display: block; position: absolute; top: 0px; left: 0px; overflow: hidden; text-indent: -9999px; }
.t20150810 .bg_left { display: none; background: no-repeat url('../img/main/update/bg_left.jpg'); }
.t20150810 .bg_right { display: none; background: no-repeat url('../img/main/update/bg_right.jpg'); }
 */
.update_banner { display: none; z-index: 999; }
.update_banner .update_banner_in { width: 1200px; height: 681px; margin-left: -600px; top: 0px; background: no-repeat url('../img/banner/hotissue/20150825/promotion.png'); }
.update_banner .btn_update { width: 1060px; height: 500px; margin-left: -530px; display: block; position: absolute; top: 100px; left: 50%; overflow: hidden; text-indent: -9999px; }
.update_banner .bg_left { display: block; background: no-repeat url('../img/banner/hotissue/20150825/left.png'); }
.update_banner .bg_right { margin-left: 600px; display: block; background: no-repeat url('../img/banner/hotissue/20150825/right.png'); }
.update_banner #close { width: 60px; height: 60px; margin-left: 520px; display: block; position: absolute; top: 120px; left: 50%; overflow: hidden; background: no-repeat url('../img/main/banner_close.png') center center; text-indent: -9999px; cursor: pointer; }

/* 150826 */
.is-ch.ch-daum .footer_in .pcbang .search input{background:url('../img/common/txt_pcbang.gif') no-repeat left 1px}
.is-ch.ch-daum .footer_in .pcbang .search input.none{background:none}

/* 151002 */
.t151002 .update_banner_in {    background: no-repeat url('../img/banner/hotissue/151002/promotion.png');}
.t151002 .bg_left {    background: no-repeat url('../img/banner/hotissue/151002/left.png');}
.t151002 .bg_right {    background: no-repeat url('../img/banner/hotissue/151002/right.png');}

/* 151116 */
.layout_main .login_before{position:absolute;width:297px;height:242px;font-size:13px;line-height:18px;text-align:center;background:url(../img/common/bg_loginbefore.gif) no-repeat center top;z-index:100}
.layout_main .login_before .title{font-size:20px;line-height:18px;color:#c2c7d6;font-weight:bold;padding-top:29px;padding-bottom:40px}
.layout_main .login_before .li_btn{margin-top:15px;margin-left:38px;}
.layout_main .login_before .li_btn li{float:left;margin:0 0 7px 7px}
.layout_main .login_before .btn{display:inline-block;width:100px;height:40px;background:url(../img/common/btn_loginbefore.gif) no-repeat;text-indent:-999px;overflow:hidden;*text-indent:0;color:transparent}
.layout_main .login_before .btn_p{background-position:-107px top;}
.layout_main .login_before .btn_f{background-position:left bottom}
.layout_main .login_before .btn_g{background-position:-107px bottom;}
.layout_main .loginbox_v2 .login{background:url(../img/common/bg_login2.gif) no-repeat}
.layout_main .loginbox_v2 .loginform{margin-top:32px;}
.layout_main .loginbox_v2 .login .security{position:absolute;top:27px;left:35px;height:29px;padding-left:0;width:231px}
.layout_main .loginbox_v2 .login .security .btn_keyboard .bar{display:none}
.layout_main .loginbox_v2 .login .security .btn_helper{right:0}
.layout_main .loginbox_v2 .chk_pmang, .layout_main .loginbox_v2 .chk_pc{display:block;margin-bottom:40px}
.layout_main .loginbox_v2 .guide .bar:last-child{display:none}
.layout_main .loginbox_v2 .login .sns{top:205px}
.layout_main .loginbox_v2 .sns .btn, .layout_sub .loginbox_v2 .sns .btn{width:18px;height:18px;background:url(../img/common/btn_sns.gif) no-repeat;overflow:hidden;text-indent:-999px;display:inline-block;*text-indent:0;color:transparent}
.layout_main .loginbox_v2 .sns .sns_n, .layout_sub .loginbox_v2 .sns .sns_n{position:relative;top:auto;}
.layout_main .loginbox_v2 .sns .sns_f, .layout_sub .loginbox_v2 .sns .sns_f{background-position:-20px top}
.layout_main .loginbox_v2 .sns .sns_g, .layout_sub .loginbox_v2 .sns .sns_g{background-position:-40px top}
.layout_main .loginbox_v2 .sns .etc{position:absolute;left:-40px;display:none;width:139px;height:35px;background:url(../img/common/bg_check_log.png) no-repeat;color:#3b4149;padding-top: 12px; padding-left: 13px}
.layout_main .loginbox_v2 .sns:hover .etc{display:block;animation:over 0.5s}
@keyframes over{
	0%{height:1px;opacity:0}
	100%{height:35px;opacity:1}
}
.layout_main .loginbox_v2 .guide{position:absolute;top:205px;font-size:13px}
.layout_sub .login_before, .layout_sub .chk_pmang, .layout_sub .loginbox_v2 .sns .etc, .layout_sub .chk_pc{display:none}
.layout_sub .loginbox_v2 .sns .sns_n{margin-top:0;margin-right: 3px;}